{{import urllib}}
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>HiStOrY vIsUaLiZeR..</title>
      <!-- Put the following javascript before the closing </head> tag. -->

<script>
  (function() {
    var cx = '017280809417751048621:ppm6uxprogs';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>

<!-- Place this tag where you want both of the search box and the search results to render -->

      </head>
    <body>
<!--       <gcse:search resultsUrl="http://www.google.com" queryParameterName="q" newWindow="true"></gcse:search>-->

       <!-- Google CSE Search Box Begins  -->
<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at http://www.google.com/cse/docs/tos.html -->
<form id="cref_iframe" name="shukla" action="./trial_result.html">
  <input type="hidden" name="cref" value="http://www.guha.com/cref_cse.xml" />
  <input type="hidden" name="cof" value="FORID:9" />
  <input type="text" name="q" size="40"/>
  <input type="submit" name="sa" value="Search" />
<!--  <script language='Javascript'> -->
<!--  document.shukla.submit();-->
<!--  </script>-->
</form>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cref_iframe"></script>
<!-- Google CSE Search Box Ends -->
    </body> 
    
</html>

